

.body1 {
  width: 1440px;
  height: 2844px;
  /*background: var(--yellow-bg, #FEE42A); */
  background: #fff;
  margin: 0;
  display: flex;
  flex-direction: column; /* использовала для 3 секции по урокам гридов*/
} 



.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.headerContent {
  display: grid;
  grid-template-columns: 1.51fr 2fr 1.5fr;
  align-items: center;
  padding: 92px 51px 49px;
}

.navigation {
  display: grid;
  gap: 32px;
  text-align: right;
  justify-content: space-evenly;
}

.li {
  list-style: none;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.underline {
  text-decoration: underline;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  stroke-width: 1px;
  stroke: #000;
  list-style-type: circle;
}

.headerLogo {
  display: block;
  /* width: 92; */
  width: 148px;
  height: 105px;
  flex-shrink: 0;
  margin: auto;
  color: #000;
}

.boss {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: none;
}

.number {
  width: 240px;
  height: 24px;
  flex-shrink: 0;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
}

.mail {
  width: 240px;
  height: 24px;
  flex-shrink: 0;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
}

.address {
  width: 240px;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
}




.offer {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 180px;
}

.offer::after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.6;
  z-index: 1;
}

.offer-h1 {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 700;
  letter-spacing: 30px;
  font-size: 100px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 0 135px;
}

.offer__wrap {
  position: relative;
  z-index: 2;
  padding-bottom: 50px;
}

.offer-h1__text {
  display: block;
}

.offer-h1__text:nth-child(2) {
  text-align: center;
}

.offer-h1__text:nth-child(3) {
  text-align: right;
  position: relative;
  left: 30px;
}

.offer__footer {
  color: #fff;
  display: flex;
  gap: 78px;
  align-items: center;
  justify-content: end;
}

.offer__footer-text {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.offer__footer-btn {
  background-color: inherit;
  border: 1px solid #fff;
  font-size: 22px;
  line-height: normal;
  padding: 12px 32px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}











.about {
  display: flex ;
  width: 1340px;
  height: 487px;
  flex-shrink: 0;
  gap: 95px;
}

.about__column__img {
  display: flex;
  width: 240px;
  height: 240px;
  padding: 0px 95px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #000;
  border-radius: 50%;
  margin: 50px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  flex-shrink: 0;
}

.title__text {
  display: flex;
  flex-direction: column;
  display: inline-flex;
  height: 388px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  flex-shrink: 0;
  margin: left;
  margin: bottom; 
}

.pp {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about__title {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.p11 {
  width: 885px;
  height: 96px;
  flex-shrink: 0;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p22 {
  width: 885px;
  height: 119px;
  flex-shrink: 0;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}




















/* СЕКЦИЯ С 3 КАРТИНКАМИ */

.articles {
  position: relative;
  padding-bottom: 182px;
}

.articles__title {
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}

.article::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.article {
  color: #fff;
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  overflow: hidden;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article:nth-child(2) {
  background-image: url(../images/card-lot-02.jpg);
}

.article:nth-child(3) {
  background-image: url(../images/card-lot-03.jpg);
}

.articles__row {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: 2;
  padding-bottom: 30px;
}

.article__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.article__text {
  font-size: 20px;
  line-height: 120%;
  z-index: 2;
}

.articles__more-link {
  padding-left: 40px;
  font-size: 20px;
  text-decoration: underline;
}


/* ПОДВАЛ */

.footer {
  display: grid;
  grid-template-columns: 1.51fr 2fr 1.51fr;
  padding: 90px 50px 49px;
  width: 1440px;
  height: 2844px;
}

.picturesfooter1 {
  display: flex;
  width: 240px;
  height: 48px;
  flex-shrink: 0;
  gap: 20%;
  

}

.Listfooter {
  gap: 32px;
  text-align: right;
  justify-content: space-evenly;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 35px;
}

.lf {
  list-style: none;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
}

.navigation2 {
  display: flex;
  margin-top: 60px;
}

.li2 {
  list-style: none;
}

.number2 {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
}

.mail2 {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
}

.address2 {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
}

/* ПОДВАЛ */